# My configurations:
flask
db_repository
app/static/uploads
tmp
app.db
test.db
private_config.py
app/static/img/cz.jpg
app/static/img/lkl.png
app/static/img/mxm.png
app/static/img/slide1.jpg
app/static/img/slide2.jpg
app/static/img/slide3.jpg
app/static/img/wooyun.jpg
app/static/img/yjk.png
app/templates/about.html

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# Pycharm
.idea
