# My configurations:
flask
db_repository
app/static/uploads
search.db
app.db
test.db
private_config.py

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build