body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
.btn {
    background-color: #1ABC9C;
}
.login {
    width:940px; 
    height:768px;
    background: transparent url("{{ url_for('static', filename='img/imac.png') }}") no-repeat;
    color: #000;
    margin-bottom: 77px;
    padding: 38px 38px 267px;
    position: relative;
    margin: 0 auto;
}
.login-screen {
    background-color: #1ABC9C;
    min-height: 317px;
    padding: 123px 199px 33px 306px;
}
.login-form {
    background-color: #ECEFF1;
    border-radius: 6px;
    padding: 24px 23px 20px;
    position: relative;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin-heading {
  color: #1ABC9C;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
