body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
.btn {
    background-color: #1ABC9C;
}
.login-screen {
    background-color: #1ABC9C;
    height: 474px;
    /*padding: 80px 199px 80px 306px;*/
    padding-top: 100px;
    padding-bottom: 100px;

}
.login-form {
    background-color: #ECEFF1;
    border-radius: 6px;
    /*padding: 4px 23px 2px;*/
    width: 359px;
    height: 264px;
    /*position: relative;*/
    margin-right: auto;
    margin-left: auto;
}

.form-signin {
  max-width: 330px;
  padding: 5px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin-heading {
  color: #1ABC9C;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  /*margin-bottom: 10px;*/
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
