{% extends "bootstrap/base.html" %}

{% block title %} Keeper {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="icon" href="{{ url_for('static', filename='img/logo2.png') }}">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/footer.css') }}" rel="stylesheet">
    <style>
    .navbar-default .navbar-nav > li > a:hover {
        background-color: #0482ba;
        color: #fff;
    }
    .nav > li:hover .dropdown-menu {display: block;}
    .headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .5s ease-in-out;}
    .headroom--unpinned {top: -100px;}
    .headroom--pinned {top: 0;}
    .navbar-default .navbar-nav > li > a {
        color: #fff;
    }

    .modal {
        padding-top: 10%;
    }
    </style>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}"><b style="color:white;">Keeper-在线心电医疗平台</b></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">主页</a></li>
                    <li><a href="#">新特性</a></li>
                    <li><a href="{{ url_for('about') }}">关于我们</a></li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜索……">
                    </div>
                    <button type="submit" style="color:white;" class="btn btn-primary">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li class="dropdown">
                            <a href="{{ url_for('doctor') }}" class="dropdown-toggle" data-toggle="dropdown"
                               role="button" aria-expanded="false"><img src="" style="width:25px;height:25px"
                                                                        class="img-rounded">{{ g.user.nickname }} <span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ url_for('doctor') }}"><span class=" glyphicon glyphicon-info-sign"
                                                                            aria-hidden="true"></span>&nbsp;&nbsp;个人资料</a>
                                </li>
                                <li><a href="{{ url_for('treatment_record', num=0) }}"><span
                                        class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;&nbsp;就诊記錄</a>
                                </li>
                                <li><a href="{{ url_for('record', file_name='1.txt', num=1) }}"><span
                                        class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;&nbsp;心电图记录</a>
                                </li>
                                <li><a href="{{ url_for('first_aid') }}"><span class="glyphicon glyphicon-phone-alt"
                                                                               aria-hidden="true"></span>&nbsp;&nbsp;一键急救</a>
                                </li>
                                <li><a href="" data-toggle="modal" data-target=".bs-example-modal-sm"><span
                                        class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>&nbsp;&nbsp;添加就診记录</a>
                                </li>
                                <li class="divider" style="color:black;"></li>
                                <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"
                                                                            aria-hidden="true"></span>&nbsp;&nbsp;登出</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}" style="color:white;"><b>登陆</b></a></li>
                        <li><a href="#" style="color:white;"><b>註冊</b></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center">添加就诊记录</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar"
                                                                                aria-hidden="true"></span></span>
                        <input id="date" type="text" class="form-control" placeholder="就诊日期"
                               aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-map-marker"
                                                                                aria-hidden="true"></span></span>
                        <input id="hospital" type="text" class="form-control" placeholder="就诊医院"
                               aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"
                                                                                aria-hidden="true"></span></span>
                        <input id="doctor" type="text" class="form-control" placeholder="就诊医生"
                               aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-flag"
                                                                                aria-hidden="true"></span></span>
                        <input id="office" type="text" class="form-control" placeholder="就诊科室"
                               aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-briefcase"
                                                                                aria-hidden="true"></span></span>
                        <input id="diagnose" type="text" class="form-control" placeholder="病情诊断"
                               aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="save" type="button" class="btn btn-primary" data-dismiss="modal">保存更改</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% block page_content %}{% endblock %}
    {% include 'footer.html' %}
{% endblock %}


{% block scripts %}
    {{ super() }}
    <!-- 导航栏动画 -->
    <script src="{{ url_for('static', filename='js/headroom.min.js') }}"></script>
    <script>
    $(document).ready(function(){
        $(document).off('click.bs.dropdown.data-api');
    });

    // 修改头像
    $('#navbar img').attr('src',"{{ url_for('static', filename='uploads/avatars/xxx') }}".replace('xxx', "{{ g.user.avatar }}"));

    // 添加导航栏动画
    var elem = document.querySelector("nav");
    var headroom = new Headroom(elem, {
        "tolerance": 5,
        "offset": 500,
    });
    headroom.init();
    </script>
{% endblock %}
