<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %} ? {% endblock %} - 在线心电医疗平台</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/footer.css') }}" rel="stylesheet">

  <style>
    .navbar-default .navbar-nav > li > a:hover  {
      background-color: #0482ba;
    }
    .nav > li:hover .dropdown-menu {display: block;} 
  </style>

  {% block css %}<!-- block css  -->{% endblock %}

</head>
<body>

  <!-- content -->
  {% block content %}
  {% endblock %}
  <!-- // content -->

  {% include 'footer.html' %}

  <!-- Bootstrap core JavaScript
      ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  <script>    
    $(document).ready(function(){
        $(document).off('click.bs.dropdown.data-api');
    });

    // 修改头像
    $('#navbar img').attr('src',"{{ url_for('static', filename='uploads/avatars/xxx') }}".replace('xxx', "{{ g.user.avatar }}"));
  </script>

  {% block js %}<!-- block JavaScript  -->{% endblock %}

</body>
</html>
