{% extends "__base__.html" %}

{% block title %}个人中心{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    {% include 'flash.html' %}
    <div class="well well-large" style="height: 140px;">
        <div class="pull-right">
            <img src="{{ url_for('static', filename='user.avatar') }}" class="img-polaroid">
        </div>
        <h1>{{ user.nickname }}</h1>
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        {% if user.last_seen %}<p><em>最近登录：{{ user.last_seen }}</em></p>{% endif %}
        {% if user.id == g.user.id %}
            <a href="{{url_for('edit')}}">编辑您的个人资料</a>
        {% elif not g.user.is_following(user) %}
            <a href="{{url_for('follow', nickname=user.nickname)}}">{{_('Follow')}}</a>
        {% else %}
            <a href="{{url_for('unfollow', nickname=user.nickname)}}">{{_('Unfollow')}}</a>
        {% endif %}
        </p>
    </div>
{% endblock %}
