{% extends "__base__.html" %}

{% block title %}编辑{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">编辑您的个人资料</h1>
        {% include 'navbar.html' %}
        {% include 'flash.html' %}
        <div class="row">
            <div class="well col-md-4 col-md-offset-4">
                <form class="form-horizontal" action="{{ url_for('edit') }}" method="post" enctype=multipart/form-data>
                    <div class="control-group col-md-8 col-md-offset-2">
                        <label class="control-label" for="nickname">昵称：</label>
                        <div class="controls">
                            <input type="text" name="nickname" id="nickname" class="form-control" placeholder="{{ g.user.nickname }}">
                            <span class="help-inline">{{ error }}</span><br>
                        </div>
                    </div>
                    <div class="control-group col-md-8 col-md-offset-2">
                        <label class="control-label" for="about_me">关于你：</label>
                        <div class="controls">
                        <textarea class="form-control" name="about_me" id="about_me" rows="3"></textarea>
                        <span class="help-inline">{{ error }}</span><br>
                        </div>
                    </div>
                    <div class="control-group col-md-8 col-md-offset-2">
                        <label class="control-label" for="avatar">上传头像：</label>
                        <div class="controls">
                        <input type='file' name='avatar' id="avatar">
                        <span id="info" class="help-inline"></span>
                        </div>
                        <img id="image_preview" style="width: 100px; height: 100px; background-position: center center;display:none;" class="img-rounded"></img>
                        <br><br>
                    </div>
                    <div class="control-group col-md-offset-4">
                        <div class="controls">
                            <input class="btn btn-primary" type="submit" value="保存修改">
                        </div>
                    </div>
                </form>
            </div>                
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
    var
        fileInput = document.getElementById('avatar'),
        info = document.getElementById('info'),
        preview = document.getElementById('image_preview');

    // 监听change事件:
    fileInput.addEventListener('change', function () {
        // 清除背景图片:
        preview.style.backgroundImage = '';
        // 检查文件是否选择:
        if (!fileInput.value) {
            info.innerHTML = '没有选择文件';
            return;
        }
        // 获取File引用:
        var file = fileInput.files[0];
        if (file.type !== 'image/jpeg' && file.type !== 'image/png' && file.type !== 'image/gif') {
            alert('不是有效的图片文件!');
            return;
        }
        // 读取文件:
        var reader = new FileReader();
        reader.onload = function(e) {
            var
                data = e.target.result; // 'data:image/jpeg;base64,/9j/4AAQSk...(base64编码)...'            
            preview.style.backgroundImage = 'url(' + data + ')';
            preview.style.display = 'block';
        };
        // 以DataURL的形式读取文件:
        reader.readAsDataURL(file);
    });
</script>
{% endblock %}