<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='img/logo2.png') }}o">

    <title>登陆 - 在线心电医疗平台</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/footer.css') }}" rel="stylesheet">

    <style>
      .login {
          width:940px; 
          height:768px;
          background: transparent url("{{ url_for('static', filename='img/imac.png') }}") no-repeat;
          color: #000;
          margin-bottom: 77px;
          padding: 38px 38px 267px;
          position: relative;
          margin: 0 auto;
      }
/*      .login-icon {
          left: 200px;
          position: absolute;
          top: 117px;
          width: 96px;
          color: #FFF;
      }*/
    </style>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      
      {% include 'flash.html' %}  
      <div class="login">
      <div class="login-screen">
<!--       <div class="login-icon">
        <img src="{{ url_for('static', filename='img/logo3.png') }}" alt="Welcome to Mail App" width="96" height="96">
        <h4>Welcome to <b>Keeper</b></h4>
      </div> -->
      <div class="login-form">
      <form action="{{ url_for('login') }}" method="post" class="form-signin">
        <h1 class="form-signin-heading text-center">Keeper</h1>
        <div class="input-group">
          <label for="inputEmail" class="sr-only">Email 地址</label>
          <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email 地址" required autofocus>
          <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
        </div>
        <div class="input-group">
          <label for="inputPassword" class="sr-only">密码</label>
          <input type="password" name="password" id="inputPassword" class="form-control" placeholder="密码" required>
          <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></span>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="remember_me"> 记住我
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
      </form>
      </div>
      </div>
      </div>

    </div> <!-- /container -->
    {% include 'footer.html' %}
  </body>
</html>