{% extends '__base__.html' %}

{% block title %}心电图记录{% endblock %}

{% block css %}
<style>
  .nav-sidebar a:active  {

  }
</style>

{% endblock %}

{% block content %}
  {% include 'navbar.html' %}
  <input type="hidden">{{ id }}
  <div class="container-fluid">
    <div class="row" id="s">
      <div class="col-sm-3 col-md-2 sidebar">
        <h3 class="text-center">心电监测记录</h3>
        <hr><br>
        <ul class="nav nav-sidebar">
          {% for ecg in ecgs %}
          <li id="{{ecg.id}}"><a href="/record/{{ ecg.file_name }}/{{ecg.id}}">{{ ecg.file_name }}</a></li>
          {% endfor %}
        </ul>
       </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="title" style="margin-top:20px;">心电图测量数据
          <form class="navbar-right">
            <input type="text" class="form-control" placeholder="病情搜索...">
          </form>
        <h1 class="page-header"></h1>
        </h1>
        <div class="row placeholders">
          <div class="col-sm-6 placeholder">
            <h3>记录时间</h3>
            <span class="text-muted">{{ date }}</span>
          </div>
          <div class="col-sm-6 placeholder">
            <h3>记录时长</h3>
            <span class="text-muted">{{ time }}秒</span>
          </div>
          <!-- 心电图 -->
          <div id="container" style="height: 489.73px;width:100%;"></div>
        </div>
        <h1 class="title" style="margin-top:200px;">诊断结果</h1>
        <h1 class="page-header"></h1>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>就诊时间</th>
                <th>医生签名</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>刘飞</td>
                <td>男</td>
                <td>62</td>
                <td>2013年11月21日</td>
                <td>...</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td class='col-md-1'>临床诊断:</td>
                <td>发作间歇期体检应着重于有无高血压、冠心病、瓣膜病、心肌病、心肌炎等器质性心脏病的证据。常规心电图、超声心动图、心电图运动负荷试验、放射性核素显影、心血管造影等无创和有创性检查有助于确诊或排除器质性心脏病。</td>
              </tr>
              <tr>
                <td class='col-md-1'>医生意见:</td>
                <td>心律失常的生活调理方法可以根据心律失常的诱因制定。心律失常的常见诱因有：吸烟、酗酒、过劳、紧张、激动、暴饮暴食，消化不良，感冒发烧，摄入盐过多，血钾、血镁低等。这样可以做到从本质出发，从根本上对心律失常引起的病症起到控制的作用。首先，在饮食的方面：应该细嚼慢咽，这样也有助于消化吸收，对健康有益，忌狼吞虎咽。应该少饮酒，这样不会加重心脏负担，也不会增加心肌耗氧量，喝咖啡也忌大量。其次，在运动方面：运动要适量，切不可挑战极限，多做适合自己的运动，轻松舒缓的运动，少做剧烈运动。再次，在情绪方面：要学会控制自己的情绪，尽量保持平和稳定的心态，不焦不躁，遇事懂得宽慰自己，不看过激的比赛等。
                因此，为了减少或避免心律失常的发生，应当注意加强生活中饮食、运动、情绪等方面的调节与护理。更多关于诱发心律失常的生活细节请咨询我们的在线专家。</td>
              </tr>
            </tbody>
          </table>
          
          <div class="col-md-offset-10">
            附件：<button type="button" class="btn btn-primary">心电图数据</button>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block js %}
<!-- 画图 -->
<script type="text/javascript" src="http://cdn.hcharts.cn/highstock/highstock.js"></script>
<script type="text/javascript">
  $($('.nav-sidebar li').get({{ id }}-1)).addClass('active');
  var chart = new Highcharts.Chart({

      chart: {
          renderTo: 'container',
          type:'line',
      },
      title: {
          text: '患者心电图'
      },
      xAxis: {
          // 一页图里最大显示的横坐标
          max: 1200,
          min: 0
      },
      yAxis: {
          title: {
            text: '值'
          }
      },
      credits: {
          enabled: false
      },
      //设置滚动条    
      scrollbar: {
          enabled: true
      },
      series: [{
          data: {{ data|tojson|safe }},
          name: '测量数据'
      }]
  });
</script>
{% endblock %}
